@use "sass:math";

$columns-desktop: 2;
$columns-tablet: 2;
$columns-mobile: 1;

$dark: #151515;
$light: #e8e8e8;
$black: #000;
$white: #fff;
$gray: #333;
$dark-side-button: #c00;
$force-button: #4caf50;
$evil: gray;
$navy: navy;
$aquamarine: aquamarine;
$good: #add8e6;
$bad: darkolivegreen;
$peachpuff: peachpuff;
$brown: brown;
$base-color: yellow;

@mixin box-shadow($x: 1px, $y: 5px, $blur: 10px, $color: rgba(0, 0, 0, 0.2)) {
  box-shadow: $x $y $blur $color;
}

@function flexible-color($color, $percentage) {
  @return lighten($color, $percentage);
}

/* ==============
   STRUCTURE
   ============== */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  height: 100%;
  width: 80%;
}

.card {
  padding: 16px;
  text-align: center;
  border: 1px solid $black;
  border-radius: 10px;
  @include box-shadow;
  margin: 1%;
  float: left;
  width: math.div(100%, $columns-desktop);

  @media (max-width: 768px) {
    width: math.div(100%, $columns-tablet);
  }

  @media (max-width: 480px) {
    width: math.div(100%, $columns-mobile);
  }

  &__title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
  }

  &__image {
    width: 70%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  &__description {
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
  }

  &__button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  /* ==============
   SKINS
   ============== */

  &--dark {
    background-color: $dark;
    color: $white;

    & .card__button--danger {
      background-color: $dark-side-button;
      color: $white;
    }
  }

  &--light {
    background-color: $light;
    color: $gray;

    & .card__button--safe {
      background-color: $force-button;
      color: $black;
    }
  }

  &--neutral {
    background-color: flexible-color($base-color, 20px);
    color: $black;

    & .card__button {
      background-color: flexible-color($base-color, -20%);
      color: $navy;
    }
  }

  &--evil {
    background-color: $evil;
    color: $white;

    & .card__button--evil {
      background-color: $navy;
      color: $white;
    }
  }

  &--good {
    background-color: $good;
    color: $black;

    & .card__button--good {
      background-color: $peachpuff;
      color: $black;
    }
  }

  &--bad {
    background-color: $bad;
    color: $white;

    & .card__button--bad {
      background-color: $brown;
      color: $white;
    }
  }

  @media screen and (max-width: 800px) {
    width: 90%;
  }

}